page-avaliacao-coronariano {
    .help-block{
        font-size:10px;}
        
    .alpaca-control-label{
        font-weight:700;
        font-size:19px;
        color:#333 !important;}
        
    .form-control{
        border-color:none !important;}
        
    .alpaca-control{
        border-color:none !important;}
        
    .help-block{
        color:#333 !important;}
        
    .container{
        width:wrap !important;}
        
    .glyphicon-info-sign{
        font-size:20px;
        margin-left:10px;}
    
    #titulo{
        padding-left: 10px;
        background-color: #72ADEF;
        color: #FDFBFB;
        
    }
}
