page-home {
.logoTipo{
    width: 60%;
    margin-left: 25%;
    margin-bottom: 5%;
    // margin-top: 5%;
}

.logoTipo2{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.card-ion-icon{
    width: 50%;
    margin: auto;
}
.card-subtitle{
    text-align: center;
}

.btnLogin{
    background-color: #0633FD;
}
.corTitulo{
    color: rgba(6, 39, 187, 0.89);
    padding-left: 25%;
}
}
