<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="acessarCadastro()">
            <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="corTitulo">EdFisica - Cloud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img class="logoTipo2" src="/assets/icon/edFisica2.png"/>

  <ion-row>
    <ion-card col-5 *ngFor="let item of items" (click)="acessar(item)">
      <img class="card-ion-icon" src={{item.src}} />
      <div class="card-subtitle">{{item.title}}</div>
    </ion-card>
  </ion-row>

  <ion-row>
      <ion-card col-5 *ngFor="let item of items2" (click)="acessar(item)">
        <img class="card-ion-icon" src={{item.src}} />
        <div class="card-subtitle">{{item.title}}</div>
      </ion-card>
  </ion-row>

</ion-content>